<p>dashboard works!</p>

<!-- What should people see on arrival at the homepage? -->
<!-- Sara likes a tilt shift radial image with buttons / links around it -->
<!-- Find a lot of photos to add as jumbotrons in some areas. -->

<!-- About page -->
<!-- stock ticker / value of company. Probably wont be in final version of site
because SpaceX is not publicly traded -->
<!-- View launches as table and add upcoming launches to calendar. -->
<!-- Company history as angular-mgl-timeline. Bonus if icon links can be included. -->
<!-- Launch pads and landing pads location on google maps w/ info available on hover? -->
