<div class="container">
  <div class="mat-elevation-z8">
    <table
      mat-table
      class="full-width-table"
      [dataSource]="dataSource"
      matSort
      aria-label="Elements"
    >
      <!-- Flight Number Column -->
      <ng-container matColumnDef="flight_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight No.</th>
        <td mat-cell *matCellDef="let row">{{ row.flight_number }}</td>
      </ng-container>

      <!-- Mission Name Column -->
      <ng-container matColumnDef="mission_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mission Name</th>
        <td mat-cell *matCellDef="let row">{{ row.mission_name }}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="launch_date_local">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.launch_date_local | date: "shortDate" }}
        </td>
      </ng-container>
      <!-- Success Column -->

      <ng-container matColumnDef="launch_success">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Success</th>
        <td mat-cell *matCellDef="let row">
          <fa-icon [icon]="faCheckCircle" *ngIf="row.launch_success"></fa-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; index as launchId"
        [routerLink]="['/launches', launchId]"
      ></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]"
    >
    </mat-paginator>
  </div>
</div>
<!-- Replace info in html, ts, and datasource.ts -->
<!-- Create Service -->
<!-- Create interface(s) -->
<!-- Display that data! -->

<!-- The code below  belongs in the tr w/ routerLink -->
<!-- I'm not set on what i want displayed there so I have removed it for now. -->
<!-- [title]="'Flight no. ' + row.flight_number + ' details'" -->
