<div class="container" *ngIf="roadster">
  <div class="header">
    <mat-card>
      <mat-card-title>{{ roadster.name }}</mat-card-title>
      <mat-card-subtitle>
        Launched {{ roadster.launch_date_utc | date: "shortDate" }}
      </mat-card-subtitle>
      <mat-card-content>
        The roadster has been in space for
        {{ roadster.period_days | number: "1.0-0" }} days.</mat-card-content
      >
    </mat-card>
    <!-- <button type="button" (click)="click()">Test</button> -->
  </div>

  <!-- <div
    class="bg-img-1"
    [ngStyle]="{ 'background-position': 'center ' + scrollRatio * -1 + 'px' }"
  >
    <div class="shadow"></div>
  </div> -->

  <div class="img-container">
    <!-- <div class="stars1"></div>
    <div class="stars2"></div>
    <div class="stars3"></div> -->
    <!-- [ngStyle]="{ top: -scrollRatio * 1 + 'px' }" -->
    <img class="par" src="../../../assets/img/roadster_side_1920.jpg" />
  </div>

  <div class="description content">
    <mat-card>
      <mat-card-content>
        <p>{{ roadster.details }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- <div class="bg-img-2">
    <div class="shadow"></div>
  </div> -->

  <div class="img-container">
    <!-- <div class="stars1"></div>
    <div class="stars2"></div>
    <div class="stars3"></div> -->
    <!-- [ngStyle]="{ top: -scrollRatio * 2 + 'px' }" -->
    <img class="par" src="../../../assets/img/roadster_front_1920.jpg" />
  </div>

  <div class="distance content">
    <mat-card>
      <mat-card-content>
        <p>
          The roadster is currently travelling at
          {{ roadster.speed_mph | number: "1.0-0" }} mph.
        </p>
        <p>
          It is {{ roadster.earth_distance_mi | number: "1.0-0" }} miles from
          Earth and {{ roadster.mars_distance_mi | number: "1.0-0" }} miles from
          Mars.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- <div class="bg-img-3">
    <div class="shadow"></div>
    <div class="shadow-2"></div>
  </div> -->

  <div class="img-container">
    <!-- <div class="stars1"></div>
    <div class="stars2"></div>
    <div class="stars3"></div> -->
    <!-- [ngStyle]="{ top: -scrollRatio * 3.5 + 'px' }" -->
    <img class="par" src="../../../assets/img/roadster_payload_2713.jpg" />
  </div>

  <!-- <div class="numbers content">
    <p>{{ roadster.norad_id }}</p>
    <p>Epoch:{{ roadster.epoch_jd }}</p>
    <p>Orbit type:{{ roadster.orbit_type }}</p>
    <p>{{ roadster.apoapsis_au }}</p>
    <p>{{ roadster.periapsis_au }}</p>
    <p>{{ roadster.semi_major_axis_au }}</p>
    <p>{{ roadster.eccentricity }}</p>
    <p>{{ roadster.inclination }}</p>
    <p>{{ roadster.longitude }}</p>
    <p>{{ roadster.periapsis_arg }}</p>
  </div> -->

  <div class="video-container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube-nocookie.com/embed/wbSwFU6tY1c?rel=0"
      frameborder="0"
      allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      rel="0"
    >
    </iframe>
  </div>
</div>
