@import "~@angular/material/theming";
@import "../../../styles-variables.scss";

.container {
  text-align: center;
  z-index: 0;
  position: relative;
  padding: 1rem;

  @media (min-width: map-get($grid-breakpoints, md)) {
    padding: 4rem;
  }
}

mat-card {
  padding: 2em 2em;
  mat-card-content {
    font-size: 1.1em;
    line-height: 2em;
  }
}

.video-container {
  border-radius: 4px;
  position: relative;
  padding-bottom: 47%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.bg-img-1 {
  border-radius: 4px;
  background-image: url("src/img/roadster_side_800.jpg");
  position: relative;
  // background-attachment: fixed;
  background-position: 63%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 500px;
  height: 500px;
  transform: translateZ(0.3px) scale(0.8);
  @media (min-width: map-get($grid-breakpoints, md)) {
    background-image: url("src/img/roadster_side_1920.jpg");
    background-position: center;
    min-height: 700px;
    height: 700px;
  }
}

.bg-img-2 {
  border-radius: 4px;
  background-image: url("src/img/roadster_front_800.jpg");
  position: relative;
  // background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  min-height: 500px;
  transform: translateZ(0.3px) scale(0.8);
  @media (min-width: map-get($grid-breakpoints, md)) {
    background-image: url("src/img/roadster_front_1920.jpg");
    min-height: 700px;
  }
}

.bg-img-3 {
  border-radius: 4px;
  background-image: url("src/img/roadster_payload_800.jpg");
  position: relative;
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 500px;
  transform: translateZ(0.3px) scale(0.8);
  @media (min-width: map-get($grid-breakpoints, md)) {
    background-image: url("src/img/roadster_load_1920.jpg");
    min-height: 700px;
  }
}
