<div class="container">
  <div class="card-container">
    <mat-card style="text-align: center;">
      <mat-card-title>About</mat-card-title>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Creator
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="panel-content">
      Created and maintained by Ben Currie.
    </p>
    <p class="fine-print">*Not affiliated with SpaceX.</p>
    <a href="https://github.com/BRCurrie/SpaceXData" target="_blank">
      <button mat-button>
        <fa-icon [icon]="['fab', 'github']"> </fa-icon>
        Github
      </button>
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>API</mat-panel-title>
    </mat-expansion-panel-header>
    <p class="panel-content">
      Thank you to Jake Meyer for providing the data for this site.
    </p>
    <a href="https://github.com/r-spacex/SpaceX-API" target="_blank">
      <button mat-button>
        <fa-icon [icon]="['fab', 'github']"> </fa-icon>
        Github
      </button>
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Technologies
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="logo-container">
      <a href="https://angular.io" target="_blank">
        <button mat-button>
          <img src="../../../assets/img/angular_logo.svg" />
          Angular
        </button>
      </a>
      <a href="https://material.angular.io" target="_blank">
        <button mat-button>
          <img class="md-img" src="../../../assets/img/material_logo.svg" />
          Angular Material
        </button>
      </a>
      <a href="https://ngrx.io/" target="_blank">
        <button mat-button>
          <img src="../../../assets/img/ngrx_logo.svg" />
          NGRX
        </button>
      </a>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Special Thanks
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="panel-content">
      Sara - For her role as rubber duckie and design consultant.
    </p>
    <p class="panel-content">
      Michelle - For her role as design and code consultant.
    </p>
    <p class="panel-content">
      SpaceX - for the inspiration as well as the pictures from flickr.
    </p>
  </mat-expansion-panel>
</div>
