@import "~@angular/material/theming";
@import "../../../styles-variables";

.container {
  padding: 1em;
  @media (min-width: map-get($grid-breakpoints, md)) {
    padding: 4em;
  }
}

.card-container {
  padding-bottom: 4em;
}

mat-card {
  text-align: center;
  padding: 2em 2em;
  mat-card-content {
    font-size: 1.1em;
    line-height: 2em;
  }
}

.mat-form-field {
  padding: 7px 24px;
}

.full-width-table {
  width: 100%;

  th {
    font-size: 1em;
  }
}

.mat-column-launch_success {
  flex: 0 0 10% !important;
  width: 10% !important;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    text-align: center;
  }
}

.mat-column-flight_number {
  flex: 0 0 20% !important;
  width: 20% !important;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    text-align: center;
  }
}
.mat-column-mission_name {
  flex: 0 0 50% !important;
  width: 50% !important;
}
.mat-column-launch_date_local {
  flex: 0 0 20% !important;
  width: 20% !important;
}

.mat-row:hover {
  background-color: #a0a0a0;
  cursor: pointer;
}
