$break-small: 640px;
$break-medium: 768px;
$break-large: 1200px;

.header-container {
  display: flex;
}

// .mat-dialog-content {}

.mat-dialog-title {
  vertical-align: middle;
  margin-left: 2rem;
}

.tab-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5em;
}

.tab-child {
  flex: 1 1 50%;
  @media screen and (max-width: $break-small) {
    flex: 1 1 100%;
  }
}
