<div class="app-theme">
  <app-sidenav> </app-sidenav>
</div>

<!-- Setup for MVP -->
<!-- Move components to feature modules, remove excess modules -->
<!-- launch-details belongs in launches feature -->
<!-- launch-details could be a modal that appears over the table -->
<!-- Roadster Feature Module, with stats, maybe with orbital map -->
<!-- Other possible features: Dashboard, Timeline of historic/major events -->

<!-- SIDENAV -->
<!-- Consider moving to app component to reduce overall code -->
<!-- Fix links in navbar and sidenav -->
<!-- Add close button on toolbar in sidenav -->
<!-- Maybe add dropdown for links in navbar. There are several components -->
