<!-- Decide on the flight number presence and what to do if absent.
    Currently it displays no flight number if there was not an assigned number, but I'm
    not sure if I really want that to show up at all. And if I don't have something there
    will people think that those events are bugged/broken? -->

<mgl-timeline focusOnOpen="true">
  <mgl-timeline-entry *ngFor="let history of history">
    <mgl-timeline-entry-header>{{
      history.event_date_utc | date: "longDate"
    }}</mgl-timeline-entry-header>
    <mgl-timeline-entry-content>
      <h3 *ngIf="history.flight_number; else noFlight">
        Flight No: {{ history.flight_number }}
      </h3>
      <ng-template #noFlight>
        <h3>
          No flight number.
        </h3>
      </ng-template>
      {{ history.details }}
      <mat-divider></mat-divider>
      <div class="icon-container">
        <a
          class="external-link"
          href="{{ history.links.reddit }}"
          target="_blank"
          *ngIf="history.links.reddit"
        >
          <button mat-button matTooltip="Reddit">
            <fa-icon [icon]="['fab', 'reddit']"> </fa-icon>
          </button>
        </a>
        <a
          href="{{ history.links.article }}"
          target="_blank"
          *ngIf="history.links.article"
        >
          <button mat-button matTooltip="News Article">
            <fa-icon icon="newspaper"> </fa-icon>
          </button>
        </a>
        <a
          href="{{ history.links.wikipedia }}"
          target="_blank"
          *ngIf="history.links.wikipedia"
        >
          <button mat-button matTooltip="Wikipedia">
            <fa-icon [icon]="['fab', 'wikipedia-w']"> </fa-icon>
          </button>
        </a>
      </div>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-dot class="accent"></mgl-timeline-entry-dot>
  </mgl-timeline-entry>
</mgl-timeline>
