.icon-container {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

fa-icon {
  font-size: 2em;
}

mat-divider {
  margin: 1em;
}
mgl-timeline-entry-dot:hover {
  cursor: pointer;
}

mgl-timeline-entry-header:hover {
  cursor: pointer;
}

// timeline line color in case I want to make section above match.
// #a0a0a0
