<div class="container" *ngIf="nextLaunch">
  <h5>Next Launch</h5>
  <p>Flight #{{ nextLaunch.flight_number }}</p>
  <p>
    {{ nextLaunch.mission_name }}
  </p>
  <ng-container *ngIf="nextLaunch.launch_date_unix - today > 0">
    <p>{{ nextLaunch.launch_date_utc | date: "short" }}</p>
  </ng-container>

  <ng-container
    *ngIf="lessThan24Hours(nextLaunch.launch_date_unix - today, 86400)"
  >
    <div>
      <countdown
        [config]="{ leftTime: nextLaunch.launch_date_unix - today }"
      ></countdown>
    </div>
  </ng-container>
  <a
    mat-raised-button
    color="primary"
    routerLink="/missions"
    routerLinkActive="active"
    >See All Missions</a
  >
</div>
