@import "~@angular/material/theming";

$grid-breakpoints: (
  xs: 450,
  sm: 640px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// $background: mat-palette($mat-green, 400);
// $warning-colors: mat-palette($mat-amber, 400);

//  To use this code in components, import as below, then map-get variables
// @import '~@angular/material/theming';
// @import '~./styles-variables';

// @media (max-width: map-get($grid-breakpoints, lg)) {
//   .example {
//     min-width: 0;
//     padding: 0 10px;
//   }
