@import "~@angular/material/theming";
@import "../../../styles-variables.scss";

.jumbotron {
  text-align: center;
  padding: 2rem 1rem;
  color: white;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  margin: 1rem;
  border-radius: 3px;
  @media (min-width: map-get($grid-breakpoints, md)) {
    margin: 2rem;
    padding: 4rem 2rem;
  }
}

.jumbotron.launchesImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("src/img/raptor_test_800.jpg");
  @media (min-width: map-get($grid-breakpoints, md)) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("src/img/raptor_test.jpg");
  }
}

.jumbotron.roadsterImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("src/img/roadster_inside_800.jpg");
  background-position: left;
  @media (min-width: map-get($grid-breakpoints, md)) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("src/img/roadster_inside.jpg");
  }
}

.jumbotron.timelineImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("src/img/crs8_800.jpg");
  @media (min-width: map-get($grid-breakpoints, md)) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("src/img/crs8_1920.jpg");
    @media (min-width: map-get($grid-breakpoints, xl)) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("src/img/crs8_1920.jpg");
      background-position: 50% 70%;
    }
  }
}

.jumbotron.aboutImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("src/img/crew_dragon_800.jpg");
  @media (min-width: map-get($grid-breakpoints, md)) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("src/img/crew_dragon_1920.jpg");
  }
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
